@using Kentico.Content.Web.Mvc
@inject IWebPageDataContextRetriever webPage
@model IEnumerable<NavigationItem>

@{
    var id = -1;

    if (webPage.TryRetrieve(out WebPageDataContext page))
    {
        id = page.WebPage.WebPageItemID;
    }
}

@foreach (var nav in Model)
{
    var hasChildren = nav.Children.Any();
    <li class="@(hasChildren? "dropdown" : "")">
        <a href="@nav.Url" class="nav-link px-2 text-dark">@nav.Title</a>
        @if (nav.Children.Any())
        {
            <ul class="dropdown-menu">
                <partial name="Components/Navigation/_NavigationItems" model="nav.Children" />
            </ul>
        }
    </li>
    }