@model ComponentViewModel<StarterSite.RCL.Features.MainPageTemplate.MainPagePageTemplateProperties>
<div class="@(Model.Properties.FullWidth ? "" : "container")">
    <vc:main-page></vc:main-page>
</div>