@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/client/css/bundles/HeaderStyles.min.css" rel="stylesheet" />
    @await RenderSectionAsync("Head", required: false)
    <routed-page>
        <page-builder-styles />
        <image-widget-styles />
    </routed-page>
</head>
<body>
    @await RenderSectionAsync("Body", required: false)
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <vc:navigation path="/Navigation" channel="layout" />
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>This is using a database layout.</h1>
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="/client/js/bundles/FooterJS.min.js"></script>
    @await RenderSectionAsync("BodyEnd", required: false)
    <routed-page>
        <page-builder-scripts />
        <image-widget-scripts />
    </routed-page>
</body>
</html>