.icon-clickable {
    padding: 5px;
    color: darkgray;
    border-radius: 5px
}
    .icon-clickable.delete {
        color: red;
        margin-right: 5px;
    }
    .icon-clickable.add {
        color: green;
    }
    .icon-clickable:hover {
        opacity: 0.8;
        background-color: darkgray;
        color: white;
    }
    .icon-clickable.add:hover {
        background-color: green;
    }

    .icon-clickable.delete:hover {
        background-color: red;
    }