@model ComponentViewModel<StarterSite.RCL.Components.Widgets.SectionWidget.SectionWidgetProperties>
@inject IPageBuilderDataContextRetriever pageBuilderDataContext

@if (pageBuilderDataContext.Retrieve().EditMode)
{
    <div style="padding: 20px;">
        @await Html.Kentico().EditableAreaAsync(Model.Properties.AreaIdentifier)
    </div>
}
else
{
    @await Html.Kentico().EditableAreaAsync(Model.Properties.AreaIdentifier)
}