@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using HBS.Xperience.TransformableViews.Components
@addTagHelper *, HBS.Xperience.TransformableViews
@inject HBS.Xperience.TransformableViewsShared.Services.ICacheService CacheService
@model ComponentViewModel<TransformableViewContentWidgetProperties>

@{
    try
    {
        <cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.High" expires-sliding="@TimeSpan.FromMinutes(30)" vary-by-user="true">
            <cache-dependency cache-keys="@CacheService.GetDependenciesList()" />
            <vc:transformable-view-content-widget properties="Model.Properties"></vc:transformable-view-content-widget>
        </cache>
    }
    catch (Exception ex)
    {
        if (Context.Kentico().PageBuilder().EditMode)
        {
            <div>@ex.Message</div>
        }
        else
        {
            <div>There was an error displaying the view</div>
        }
    }
}
